# Xcode - Build
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM

# Xcode - User settings
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Swift Package Manager
.build/
Packages/
Package.resolved
